
<p *ngIf="numNotifications === 0">
    No new notifications for you!
</p>

<div *ngIf="numNotifications > 0">
    <section class="section-50">
      <div class="container">
        <h3 class="m-b-50 heading-line">Notifications ({{numNotifications}})<i class="fa fa-bell text-muted"></i></h3>
        <div class="notification-ui_dd-content" *ngFor="let notification of notifications">
          <div class="notification-list notification-list--unread">
            <div class="notification-list_content">
              <div class="notification-list_img">
                <span class="material-icons-outlined text-gray-1000">circle_notifications</span>
              </div>
              <div class="notification-list_detail">
                <p><b>{{notification.from_user}}</b> {{notification.description}}</p>
                <p class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, dolorem.</p>
                <p class="text-muted"><small>10 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
  
        <div class="text-center">
          <a href="#!" class="dark-link">Load more activity</a>
        </div>
  
      </div>
    </section>
</div>